$color-prm: #212121;
$color-sec: #304ffe;
$color-ter: white;
$font-L:32px;
$font-M:24px;
$font-XL:40px;
$font-prm:'Roboto', sans-serif;

* {
    margin: 0;
    scroll-behavior: smooth;
}



.nav-wrapper {
    background:#546e7a;
    z-index: 999;

    .nav-li {

        .nav-a{ 
        color:$color-ter;

        }

    }

}


#card-image{
    width: 100%;
    height:100%;
    object-fit:cover;
}


#main {
    width: 100%;
    height:100vh;
    text-align:center;
    

    


    .main-h1 {
        font-family: $font-prm;
        font-size: $font-XL;
        margin-top: 5%;
        font-weight: bold;
        color:$color-ter;
        
    }

    .main-p {
        font-family: $font-prm;
        font-size: $font-M;
        margin-top: 4%;
        color:$color-ter;
    }

    #name {
        color:#a5d6a7;
        font-weight: bolder;
    }

    .btn-large {
        background-color: #212121;
        border-radius:15px;
        margin-top: 4%;

        i {
            margin-left:10px;
        }
    }

    .btn-large:hover {
        padding-top:0.5%;
       
    }


    .img-wrapper {

        margin-top: 5%;
       
      

        img {
                
                height:100px;
                width:100px;
                
            }

            img:hover {

                cursor: pointer;
                margin-right: 10%;
                
            }
        }
    }

 


.bg-animation {
    position: relative;
    width: 100%;
    height: 90vh;
    background: #546e7a;
    overflow: hidden;

    .bg-div {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height: 100px;
        background: url("../images/wave.png");
        background-size: 1000px 100px;
        animation: animate 20s linear infinite;
        z-index: 10;
        opacity:1;
        animation-delay: 0s;
        bottom:0;
     }

}

#projects {
    height: 100vh;

    h2, h5 {
        text-align: center;
        font-family: $font-prm;
        padding-top:4%;
        padding-bottom: 2%;
    }

    .icon-blue{
        color: #61dbfb;
        margin-right: 5px;
    }

    .icon-yellow{
        color: #f0db4f;
        margin-right:5px;
    }

    .icon-sass{
        color:#c69;
        margin-right: 5px;
    }

    .icon-html{
        color:#E44D26;
        margin-right:5px;
    }

    .card-center{
        text-align: center;
        padding:0;
        
    }

    .card-link {
        padding-bottom: 0;
    }

    p {
        padding-bottom: 10px;
    }
    
}


#about-me {
    height: 100vh;
    background-color: #81d4fa;
  
  
    #about-me-h2 {
      text-align: center;
      padding-top: 5%;
      font-family: $font-prm;
      
    }

    p {
        text-align: center;
        margin-top: 1%;
        font-size: $font-M;
    }

    ul {
        text-align: center;
        padding-top: 1%;
        font-size: $font-M;
    }

}





@keyframes animate 
{
    0%
    {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@media only screen and (max-width: 710px) {
    #projects {
        margin-top:20%;
    }

    .main-p {
        display: none;
    }
}